.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* App.css */
.app-container {
  display: flex;
  height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la ventana */
}

.content {
  flex-grow: 1; /* Esto asegura que el contenido ocupe el espacio restante a la derecha del sidebar */
  padding: 20px;
  background-color: #f8f9fa; /* Ejemplo de color de fondo para el contenido */
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
